# I dont want to listen to some loser tell me how the world works
# So i wont share it here along with private stuff in daily
*sunshine*
*globalists*
daily/*
journal/*
private-*
2022-05-22-161224-yuval_noah_harari.*
2022-05-22-161823-klaus_schwab.*
